<div class="container">
    <h1 class="display-4 text-center mb-5 mt-3">Welcome to WorkplaceHub</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @workspaces.each do |workspace| %>
        <div class="col">
            <div class="card h-100 border-0 rounded-3 shadow">
                <div class="position-relative">
                  <%= link_to workspace_path(workspace) do %>

                    <img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="card-img-top rounded-top" alt="Workspace Image">
                        <% end %>
                    <div class="card-img-overlay d-flex flex-column justify-content-between">
                        <h5 class="card-title text-center text-white mb-0"><%= workspace.name %></h5>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">Location: <%= workspace.location %></p>
                    <p class="card-text text-muted">Price per day: £<%= workspace.price %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
