<h1>This is the index page</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorkspaceHub</title>
  <!--  CSS stylesheets  -->
  <link rel="stylesheet" href="stylesheets/index/navbar.css">
  <link rel="stylesheet" href="stylesheets/index/footer.css">
  <link rel="stylesheet" href="stylesheets/index/cardgrid.css">
</head>

<body>
  <!--  Navbar  -->
  <div class="navbar">
    <h2 class="navbar-brand">WorkspaceHub</h2>
    <ul class="navbar-nav">
      <li><a href="#">Users</a></li>
      <li><a href="#">Bookings</a></li>
      <li><a href="#">Reviews</a></li>
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </ul>
  </div>

  <div class="container">
    <!-- Content-->
    <h1>Welcome to WorkspaceHub</h1>
    <p>Choose one of our workspaces to check availability</p>
  </div>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Workspace 1
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Workspace 2
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1593062096033-9a26b09da705?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Workspace 3
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p> WorkspaceHub - Badge 1456 - Le Wagon Web Development 2024</p>
  </div>
</body>
</html>
