<h1>Welcome to WorkplaceHub</h1>
<p>Choose one of our workspaces to check availability</p>
<div class="cards">
<% @workspaces.each do |workspace| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
    <p><%= link_to workspace.name, workspace_path(workspace), class: "goshow" %></p>
  </div>
<% end %>
</div>
