<div class="container-center">
  <div class="container-booking-edit">
    <h2>Update your booking:</h2>
    <%= simple_form_for(@booking) do |f| %>
      <div class="form-group">
        <%#= f.label :start_date %>
        <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%#= f.label :end_date %>
        <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
      </div>
      <%= f.button :submit, "Update Booking", class: "btn btn-primary mt-4" %>
    <% end %>
  </div>
</div>
