<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @workspace.name %></h2>
    <p><%= @workspace.description %></p>
    <p><%= @workspace.location %></p>
    <p>Price/day: <%= @workspace.price %></p>
  </div>
</div>
