.card-booking-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-booking-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-booking {
  flex: 1;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0 10px 20px 0; /* Adjust margin as needed */
}

.card-booking img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-booking-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.info-column {
  flex: 1 1 45%; /* Adjust width as needed */
  padding: 0 10px; /* Adjust spacing as needed */
  margin-bottom: 10px;  /* Adjust spacing as needed */
}

.action-buttons {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 180px; /* Adjust spacing as needed */
}

.action-buttons p:first-child {
  margin-right: 15px; /* Increase the right margin for the edit button */
  margin-bottom: 5px; /* Adjust spacing between rows */
}

.action-buttons p:last-child {
  margin-right: 10px;
  margin-bottom: 5px; /* Adjust spacing between rows */
}


.card-booking h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin: 8px 0;
}
