.container-center {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start; /* Align items to the start (left) */
  height: auto;
  width: 25%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 5px;
}

.li {
  color: #474F7A;
  text-decoration: none;
}
