.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // padding-left: 62px;
  // padding-right: 62px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-img {
  width: 30%;
  height: 90%;
}

.nav-link {
  color: #1F2544;
}
