.card-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  padding: 0; /* Add padding to the sides */
}

.card-product {
  flex: 1 1 300px; /* Set a fixed width for each card */
  margin: 10px; /* Add margin between cards */
}

.card-product img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-product-link {
  text-decoration: none;
  color: black;
}

.card-product-infos {
  padding: 20px;
}

.card-product h2 {
  margin: 0;
}

.card-product p {
  margin: 5px 0;
}


.action-buttons {
  display: flex;
  justify-content: space-between;
}
