.container-signup {
  height: auto;
  width: 25%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px; /* Adjust as needed */

}

.container-signup h2 {
  /* Center the h2 text */
  text-align: center;
}

/* Optional: Style the anchor elements within the container */
.container-signup .li {
  color: #474F7A;
  text-decoration: none;
}

.form-actions {
  text-align: center;
  background-color: #474F7A;
  color: white;
  border-radius: 5px;
  border: none;
}

.form-actions:hover {
  background-color: #1F2544;
}


.form-inputs {
/* Ensure form inputs stay within the container */
max-width: 100%; /* Allow inputs to take up full width of the container */
}
