.container-wrapper {
  height: auto;
  width: 25%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 7%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: left;
}

.form-group {
  text-align: left;
}
