// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/product_card";
@import "components/booking_card";
@import "components/footer";

.card-category {
  height: 200px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
}

.content-container {
  background-color: #ffffff; /* White background */
  padding-top: 20px; /* Add some top padding */
}

.badge-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #343a40;
  color: white;
  padding: 10px;
}
