<div class="container-review">
  <div class="card card-review">
    <div class="card-body card-review-body">
      <h2>How was your experience with this workspace?</h2>
      <%= simple_form_for [@workspace, @review] do |f| %>
        <%= f.input :rating, required: false %><br>
        <%= f.input :content %><br>
        <%= f.submit "Add review" %>
      <% end %>
    </div>
  </div>
</div>
